


<div layout="row" style="margin-left: 2% " layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Contacts">
    </mat-form-field>&nbsp;&nbsp;
  
    <button class="btn-secondary" mat-mini-fab matTooltip="Add a contact">
        <mat-icon routerLink="/create" aria-label="add contact">+</mat-icon>
    </button>
</div>



    <!-- <toggle-button (changed)="checked=$event">
      </toggle-button>
    <p>The state is {{checked ? 'ON' : 'OFF'}}.</p>
    <div class="example-container mat-elevation-z8">
        <div class="example-header" style="margin-left: 50%">
          <mat-form-field>
           <input matInput (keyup)="applyFilter($event.target.value)" 
         placeholder="Filter">
         </mat-form-field>
       </div> -->
  
    
    <!-- <div class="button-row">
      <a mat-raised-button color="primary" [routerLink]="['/create']"><mat-icon>add</mat-icon></a>
    </div> -->
    <a id="top"></a>
    <div name="top" class="example-container mat-elevation-z8"  style="margin-bottom:10%;" >
      <table name="top" mat-table #table [dataSource]="dataSource" matSort matSortActive="firstname" matSortDirection="desc"
       matSortDisableClear class="mat-elevation-z8" style="width:100%;  background-color:rgb(210, 224, 230) ">
    
       
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let contact">{{ getFullName(contact) 
            | titlecase }}</td>
        </ng-container>
    
        
        <!-- <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> LName </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container> -->
    
     
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="work">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Work </th>
          <td mat-cell *matCellDef="let element"> {{element.work | titlecase }} </td>
        </ng-container>

        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef> Street </th>
          <td mat-cell *matCellDef="let element"> {{element.street | titlecase }} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let contact">{{ getAddress(contact) | titlecase }}</td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let contact">
            <!-- <button class="btn1"  matTooltip="Edit a {{getFullName(contact)}}">
              <i class="fa fa-pencil" (click)="editEmployee(contact._id)" aria-label="edit contact"></i>
          </button>
          <button type="button" class="btn" (click)="openDialog()" matTooltip="Delete a {{getFullName(contact)}}">
              <i class="fa fa-trash" (click)="deleteContact(contact._id)" aria-label="delete contact"></i>
          </button> -->
          <button mat-icon-button color="accent" matTooltip="Edit a {{getFullName(contact)}}">
  <mat-icon (click)="editEmployee(contact._id)" aria-label="edit contact">launch</mat-icon>
</button>
<button mat-icon-button color="warn" mat-button  matTooltip="Delete a {{getFullName(contact)}}">
  <mat-icon (click)="deleteContact(contact._id)" aria-label="delete contact">delete_outline</mat-icon>
</button>
          </td>
      </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" ></tr>
      </table>
      
     
      <mat-paginator style="background-color:rgb(210, 224, 230)" #paginator [length]="dataSource && dataSource.length" 
      [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"  (click)="pageChanged()">
      </mat-paginator>
      

    </div>
    
    

<!-- 
  <div>
  <table  style="width:100%">
  <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Work</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>ZIP</th>
      
  </tr>
  <tr *ngFor="let contact of contacts">
      <td> {{ contact.firstname }} </td>
      <td> {{ contact.lastname }} </td>
 
      <td> {{ contact.email }} </td>
      <td> {{ contact.work }} </td>
      <td> {{ contact.street }} </td>
      <td> {{ contact.city }} </td>
      <td> {{ contact.state }} </td>
      <td> {{ contact.zip }} </td>

  </tr>
  </table>
  
  </div>
</mat-card>  -->