
<!-- 
<div class="navbar navbar-default">
    <div class="container">
      <div id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a routerLink="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
          <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <br> -->
<app-navbar></app-navbar>
<div class="bg">
<div class="container">
  <div class="row">
    
     <div class="col-md-6 ">
      <mat-card class=" mat-elevation-z8" style="margin-top: 20%; margin-left: 40%; margin-bottom: 50%;">
      <h1 class="form-signin-heading">Your profile</h1>
       <br>
      <div class="form-horizontal">
        <div class="form-group">
          <label class=" control-label" style="font-size:100%">Full Name:</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class=" control-label">Email:</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>
    </mat-card>
    </div>

  </div>
</div>
</div>
<app-form-footer></app-form-footer>
