.btn-secondary {
    background-color: #ffd740;
    color: #000000;
}

.mat-form-field {
    width: 50%;
}

.btn1 {
    
    border: none;
    color: rgb(245, 42, 110);
    
    cursor: pointer;
  }
  .btn {
    
    border: none;
    color:red;

    cursor: pointer;
  }

